<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ピザ詳細</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

<h1>ピザ詳細</h1>

<table>
    <tr>
        <th>ID</th>
        <td th:text="${pizza.pizzaId}"></td>
    </tr>
    <tr>
        <th>ピザ名</th>
        <td th:text="${pizza.pizzaName}"></td>
    </tr>
    <tr>
        <th>カテゴリ</th>
        <td th:text="${pizza.category}"></td>
    </tr>
    <tr>
        <th>価格</th>
        <td th:text="${pizza.price}"></td>
    </tr>
    <tr>
        <th>説明</th>
        <td th:text="${pizza.description}"></td>
    </tr>
</table>

<p>
    <a th:href="@{/orders/new(pizzaId=${pizza.pizzaId})}">
        注文する
    </a>
</p>

<p>
    <a th:href="@{/pizzas}">ピザ一覧へ戻る</a>
</p>

</body>
</html>